@model BanSachWeb.Models.Sach

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img class="card-img-top product-image-detail" src="@Url.Content("~/Content/Image/" + Model.AnhSach)" alt="Product Image" />
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h1 class="card-title">@Model.TenSach</h1>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <p class="card-text">Tác giả:</p>
                                </div>
                                <div class="col-md-8">
                                    <div class="col-md-8">
                                        @if (Model.TacGias.Any())
                                        {
                                            <p class="card-text">@Model.TacGias.FirstOrDefault().TenTacGia</p>
                                        }
                                        else
                                        {
                                            <p class="card-text">Không có tác giả</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <p class="card-text">Giá:</p>
                                </div>
                                <div class="col-md-8">
                                    <p class="card-text">@Model.GiaBan VNĐ</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <p class="card-text">Tóm tắt:</p>
                                </div>
                                <div class="col-md-8">
                                    <p class="card-text">@Model.TomTat</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <p class="card-text">Còn dư</p>
                                </div>
                                <div class="col-md-8">
                                    <p class="card-text">@Model.SoLuongConDu</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <p class="card-text">Số lượng:</p>
                                </div>
                                <div class="col-md-8">
                                    <input id="quantity" name="quantity" type="number" class="form-control" aria-label="Quantity" value="1" min="1" max="@Model.SoLuongConDu">
                                </div>
                            </div>

                            <div class="mt-3">
                                @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { id = "addToCartForm" }))
                                {
                                    @Html.Hidden("maSach", Model.MaSach)
                                    @Html.Hidden("quantity", 1, new { id = "hiddenQuantity" })
                                    <button type="submit" class="btn btn-primary" id="addToCartButton">Thêm</button>
                                }
                                @Html.ActionLink("Mua hàng", "BuyNow", "Checkout", new { id = Model.MaSach }, new { @class = "btn btn-success" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .product-image-detail {
        width: 400px;
        height: auto;
        /* Các thuộc tính CSS khác có thể thêm vào đây */
    }
</style>
<script>
    document.getElementById("addToCartButton").addEventListener("click", function (event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
        var quantity = document.getElementById("quantity").value;
        document.getElementById("hiddenQuantity").value = quantity; // Cập nhật giá trị cho hidden field
        document.getElementById("addToCartForm").submit(); // Gửi form
    });
</script>